body{
    font-size: 16px;
    font-family: 'montserrat ', sans-serif;
    margin: 0;
    background-color: #dde1e7;
}
*{
    box-sizing: border-box;
    
}

.topbar{
   position: fixed;
    width: 100%;
    top:0 ;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    z-index: 10;
}
.topbar nav a{
    color: #9F9F9F;
    font-size: 1rem;
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-weight: 500;
    margin: 0 12px;
}
.topbar nav a:hover{
    color: #a5b4fc ;
}

.logo{
color: #9F9F9F;
font-family: "Playfair Display", sans-serif;
font-weight: 700;
font-size: 1.25rem;
}
.banniere{
    margin-top: 60px;
    background: no-repeat center center url(./images/food.jpg);
    height: 400px;
    text-align: center;
    
    
}
.title-baniere{
    padding-top: 100px;
    width: 100%;
    color: #FFF;
    height: 100%;
    margin: 5px 0px;
    font-family: "Playfair Display", sans-serif;
}
main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    
}
main a{
    text-decoration:none;
    
}
main a:hover{
    opacity: 0.6;

}
main .content .card .right img{
    height: 200px;
    width: 400px;
    margin-top: 5px;
}
main .content .card .left{
    flex: 0 0 30%;
    
   
    background-color: #000;
    color: #fff;
    
}
main .content .card .left h2{
    font-family: "Playfair Display", sans-serif;
    
    margin: 5px 10px;
    font-size: 1.87rem;
}


footer{
    margin-top: 40px;
    background-color: #000;
    color: #fff;
    padding: 30px 100px;
    
}
footer h1{
    font-family: "Playfair display";
    border-bottom: 1px solid #fff;
    width: 20%;
    padding-bottom: 5px;
}
footer .servrices{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    
}
footer .servrices .servrice{
    margin-right: 30px;
    
}
footer .servrices .servrice p{
    max-width: 300px;
}
/*section main-global*/
.container-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-global{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.card{
    width: 250px;
    box-shadow: 0,3rem, 6rem rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.card__image{
position: relative;
overflow: hidden;
}
.card__image img{
    width: 100%;
    display: block;
   
}
.card__content{
    text-align: center;
    background: #fafafa;
    line-height: 1.5;
    font-size: 0.8rem;
    color: #3d3d3d;
    padding-bottom: 15px;
}
.card__content > h3:first-of-type{
    margin-top: 0;
}
.card__content a{
    text-decoration: none;
    background-color: #d8e0fd;
    color: #3363ff;
    padding: 10px 20px;
    border-radius: 12px;
    font-style: 700;
    transition: 0.2s;
    
}

.card__content a:active, 
.card__content a:hover{
    background-color: #c2cff2;
}
.card:hover{
    box-shadow: 0,4rem, 8rem rgba(0, 0, 0, 0.1);
    transform: translateY(-0.5%);
}
/* fin section main-global

  .card2:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
     background: linear-gradient(#8e86b5, #acaeed);


fin section card*/






